###### Requirements without Version Specifiers ######`
nolds
joblib
tqdm
scipy
numpy
keras
pandas
pynput
scikit-learn
requests
sqlalchemy
seaborn
matplotlib
statsmodels
openpyxl
sklearn
impyute
tensorflow-gpu # tensorflow-gpu==2.3.0 for CUDA 10.1 compatibility